<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인덱스들</title>
</head>
<body onload="goIndex()">
</body>
<script>
    function goIndex() {
        var form = document.createElement('form');
        form.setAttribute('method', 'Post');
        form.setAttribute('action', '/index')
        form.setAttribute("charset", "UTF-8")
        document.charset = 'utf-8';
        var hiddenField = document.createElement('input');
        hiddenField.setAttribute('type', 'hidden');
        hiddenField.setAttribute('name', 'pathNow');
        hiddenField.setAttribute('value', '~qwe');
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>

