<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인덱스들</title>
</head>
<body>
    <div>
        <table border="2">
            <tr th:each="m : ${map}">
                <td th:if="${m.getValue().equals('file')}">
                    <span th:each="km : ${m.getKey()}">
                        <form action="/vod" method="post">
                            <input type="hidden" name="fileName" th:value="${km.getValue()}">
                            <input type="submit" th:value="${km.getKey()}">
                        </form>
                    </span>
                </td>
                <td th:if="${m.getValue().equals('dir')}">
                    <span th:each="km : ${m.getKey()}">
                        <form action="/index" method="post">
                            <input type="hidden" name="pathNow" th:value="${km.getValue()}">
                            <input type="submit" th:value="${km.getKey()}">
                        </form>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

